---
layout: site
title: About us
---

{% include header.html %}
<div id="main">
	<div class="content">
		<h1>What is Make Do and Mend?</h1>
		<p>Make, Do and Mend is a Cambridge-based charity that supports people who've experienced mental health distress through workshops that build their skills and confidence.</p> 
		<p>It was founded in 2010 by a group of mental health service users and their friends who identified gaps in community care. People who've been signed off work or who can't maintain full-time work due to mental health issues can easily become socially isolated. They may not be able to use their skills and talents, and lose some of the support network that comes from paid employment. There'ss also a lack of access to information and support for this community group. They often rely on GPs, who don't specialise in mental health, and who don't always know about resources available to this group.</p>
		<p>Make, Do and Mend runs workshops for people who experience mental distress. These workshops develop their self-esteem through the mastery of skills. All workshops use a strengths-based approach, and are flexible, led by our members’ interests. Through imparting skills to our members, we want to promote self-discovery and build self-esteem, so that our members are better equipped to enter the job market. People who suffer with mental health distress can achieve just as much success in their chosen careers as those who don't. Furthermore, a routine, financial independence and interaction with colleagues often means a better quality of life for our members.</p>

		<h2>Meet our Trustees</h2>
		<p>We have six very hard working trustees:</p>
		<ul>
			{% for trustee in site.data.trustees %}
			<li>{{ trustee.name }}</li>
			{% endfor %}
		</ul>

		<h2>Constitution</h2>
	</div>
</div>	
