---
layout: site
title: Events
---

{% include header.html %}
<div id="main">
	<div class="content">
		<h1>Workshops</h1>
		<p>At Make, Do and Mend, our members can take part in workshops that match their interests, run by volunteers who share their time and skills. Our workshops are sustainable, low-cost, and empowering. They nurture self-esteem, personality and character using a strengths-based approach.</p>
		<p>We believe that sharing talents with others builds better communities, and strengthens social networks for people with experience of mental health distress. In our workshops, we'll help you master new skills in a supportive, relaxed environment.</p>

		<h2>Currently running</h2>
		<ul class="workshop-list">
			{% for workshop in site.data.workshops %}
			<li>{{ workshop.name }}</li>
			{% endfor %}
		</ul>

		<h2>Sign up</h2>
		<p>If you have experience of mental health distress, live in Cambridgeshire and would like to attend one of our workshops, sign up and become a member via our Members page. </p>

		<h2>Want to help out?</h2>
		<p>We welcome donations that let us expand the range of skills covered by our workshops, and we're always seeking volunteers to help support our schemes in Cambridge. See the <a href="volunteer.html">Volunteers page</a> for more details.</p>
	</div>
</div>
