body {
	font-family: Raleway;
	box-sizing: border-box;
}

#layout {
	position: relative;
}


#menu {
	background-color: #191818;
	padding: 0 20%;
}

#menu a {
	color: #FFFFFF;
}

#menu a#logo {
	font-family: 'Abril Fatface', cursive;
}

#menu a:hover, #menu a.active, a#logo:hover {
	background-color: #FFFFFF;
	color: #191818;
}


.content {
	padding: 0 20%;
	height: 100%;
}

.hero {
	text-align: center;
	padding-bottom: 10px;
}

.hero-titles {
	padding: 0 2em;
	margin: 2em auto;
	max-width: 35%;
}

.hero-titles h1 {
	font-size: 70px;
	font-family: 'Abril Fatface', cursive;
}

.hero-titles h2 {
	font-size: 36px;
	font-weight: 300;
}

.hero-ctas div {
	padding: 10px 0;
	text-align: center;
}

.hero-ctas a {
	color: white;
	text-decoration: none;
	font-family: Raleway;
}

.hero-ctas .first {
	background-color: #1f8dd6;
}

.hero-ctas .second {
	background-color: rgb(128, 88, 165);
}

.hero-ctas .third {
	background-color: #5eb95e;
}



footer {
	background-color: #67727A;
	width: 100%;
	bottom: 0;
	left: 0;
	position: absolute;
}

footer .pure-menu {
	padding: 0 20%;
}

footer .pure-menu a {
	color: #FFFFFF;
}

footer .pure-menu a:hover {
	background-color: #67727A;
}