* {
	box-sizing: border-box;
	font-family: Raleway;
}

body {
	background-color: #C3D7DF;
}

@media (min-width: 58em) {
	#layout {
		padding-left: 150px;
		padding-right: 150px;
	 	left: 0;
	}
}

#layout {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	position: relative;
	
}

#menu {
	background-color: #67727A;
	border-bottom: 3px solid #D75C37;
}

#menu span, #menu a {
	color: #FFFFFF;
	font-family: 'Indie Flower', cursive;
}

#menu span:hover, #menu a:hover {
	background-color: #F5F5F5;
	color: #67727A;
}

#header-image {
	max-height: 250px;
	overflow: hidden;
	border-bottom: 3px solid #D75C37;
}

#header-image img {
	width: 100%;
}

#main {
	background-color: #F5F5F5;
}

#content {
	padding: 30px;
}