---
layout: site
title: Volunteer
--- 

{% include header.html %}
<div id="main">
	<div class="content">
		<h1>How you can help</h1>

		<h2>Volunteer</h2>
		<p>We offer a great variety of exciting volunteering opportunities. Whether you want to run a workshop, help with the day-to-day running of the organisation, or something else, we'd love to hear from you. Volunteers are extremely important to us, so you can expect to be treated fairly and to be listened to at all times.</p>
		<p>We're currently looking for volunteers to help in the following areas, so click on the role for more details. This isn't an exhaustive list - if you think you can help us with something else, don't hesitate to get in touch.</p>
		<ul>
			{% for role in site.data.volunteerpositions %}
			<li>{{ role.name }}</li>
			{% endfor %}
		</ul>

		<h2>Become a Friend</h2>
		<p>Becoming a Friend of Make, Do and Mend means we'll keep you up-to-date through our Newsletter. You'll also get one free pass to attend a workshop of your choice, so you can experience first-hand how our workshops, with your support, help our members. We hope you might even be inspired to come and share your own strengths and talents at a future workshop.</p>
		<p>Friend membership costs £12 per year.</p>

		<h2>Donate</h2>
		<p>Don't have time to volunteer, but want to help? We always welcome donations.</p>
		<p>Useful materials for workshops that we're always interested in:</p>
		<ul>
			{% for material in site.data.materials %}
			<li>{{ material.type }}</li>
			{% endfor %}
		</ul>
		<p>You can also donate using PayPal:</p>
		<div xmlns:jot="http://www.google.com/ns/jotspot/srvtmpl/" id="__cajaGadgetContainer__0">
			<div class="caja-vdoc-wrapper caja-vdoc-outer" style="display: block; margin: 0px; border: none; padding: 0px; position: relative; overflow: hidden;">
				<div class="caja-vdoc-wrapper" style="display: block; margin: 0px; border: none; padding: 0px; position: relative;">
					<div class="caja-vdoc-wrapper caja-vdoc-inner vdoc-container___ caja-guest-0___" style="display: block; margin: 0px; border: none; padding: 0px;">
						<caja-v-html><caja-v-head></caja-v-head><caja-v-body>
							<form action="https://www.paypal.com/cgi-bin/webscr" autocomplete="off" method="post" target="_blank">
								<input autocomplete="off" name="cmd" type="hidden" value="_s-xclick">
								<input autocomplete="off" name="hosted_button_id" type="hidden" value="QS8NQJ5U8X3RA">
								<input alt="PayPal — The safer, easier way to pay online." autocomplete="off" data-caja-border="0" name="submit" src="//images-focus-opensocial.googleusercontent.com/gadgets/proxy?url=https://www.paypalobjects.com/en%255fUS/GB/i/btn/btn%255fdonateCC%255fLG.gif&amp;container=focus&amp;gadget=a&amp;rewriteMime=image/*" type="image">
								<img alt="" border="0" height="1" src="//images-focus-opensocial.googleusercontent.com/gadgets/proxy?url=https://www.paypalobjects.com/en%255fGB/i/scr/pixel.gif&amp;container=focus&amp;gadget=a&amp;rewriteMime=image/*" width="1">
							</form>
						</caja-v-body></caja-v-html>
					</div>
				</div>
			</div>
		</div>

		<h2>Other ways to help</h2>
		<p>You could:</p>
		<ul>
			<li>tell your friends and family about us</li>
			<li>send in ideas for new workshops</li>
			<li>collect materials for our creative workshops</li>
			<li>follow us on Facebook and Twitter</li>
		</ul>
	</div>
</div>
