<div class="pure-menu  pure-menu-horizontal" id="menu">
  <a href="/" class="pure-menu-heading" id="logo">Make Do and Mend</a>

  <ul class="pure-menu-list">
    <li class="pure-menu-item"><a href="about.html" class="pure-menu-link">About us</a></li>
    <li class="pure-menu-item"><a href="events.html" class="pure-menu-link">Workshops</a></li>
    <li class="pure-menu-item"><a href="join.html" class="pure-menu-link">Join</a></li>
    <li class="pure-menu-item"><a href="volunteer.html" class="pure-menu-link">Volunteer with us</a></li>
    <li class="pure-menu-item"><a href="reports.html" class="pure-menu-link">News</a></li>
</ul>
</div>